@charset "utf-8";

body {
    margin: 0 auto;
    font-family: 'Noto Sans KR', sans-serif; 
    font-size: 1.6rem;
    line-height: 1.5;
    color: #373737;
    word-break: keep-all;
}


.inner {max-width: calc(100% - 200px) ; margin: 0 auto;}




/* hedaer */

#header {
    z-index: 999; 
    position: fixed; 
    left: 50%; top: 50px; transform: translateX(-50%);

    overflow: hidden;
    margin: 0 auto;
    font-family: 'SeoulNamsanM';
    text-align: center;
    align-items: center;

}

#header .gnb { display: flex;}
#header .gnb li {
    transition: background 0.5s;
    background: #fff;
    border: 1px solid #373737;
    border-right: none;
    width: 180px;
    padding: 5px 10px;
}
#header .gnb li:first-child {border-radius: 30px 0 0 30px;}
#header .gnb li:last-child {border-radius: 0 30px 30px 0;border-right: 1px solid #373737;}

#header .gnb li:hover { background-color: #373737; color: #fff;}

#header .gnb li a {display: block; /*width: 180px;*/  padding: 8px 0 6px;}
#header .gnb li:hover a {color: #fff; border-right: none;}

