@charset "utf-8";




#header {
    z-index: 999;

    position: fixed;
    left: 50%;
    top: 0;
    transform: translate(-50%, -84%);

    width: 100%; height: 450px;
    background: url('../img/header/header_bg.svg')no-repeat center;

    transition: transform 0.3s;
}

#header:hover {transform:translate(-50%, -65%);}



#header .gnb {
    position: absolute; 
    left: 50%; bottom: 105px; 
    transform: translate(-50%,0); 
    display: flex; 
    justify-content: center; 
    gap: 50px;
    align-items: end;
    vertical-align: middle;
}

#header .gnb li {
    cursor: pointer;
}
