@charset "utf-8";

body {background: rgba(0, 0, 0, 0.9);}

.brand {display: flex; gap: 100px; justify-content: space-between;}
.brand .tit {width: 100%; color: #fff; line-height: 1.2; margin-top: 150px; }
.brand .tit h2 {font-size: 7rem;}
.brand img {width: 1000px;}

.concept {display: flex; gap: 100px; justify-content: space-between; height: 500px;}
.concept .tit,.concept .img {width: 100%; color: #fff; line-height: 1.2; margin-top: 150px; }
.concept .tit h2,.concept .img h2 {font-size: 7rem;}
.concept .img {width: 1000px;}
