@charset "utf-8";

.modal {
	position: relative;
	cursor: pointer; 
	width: 100%; padding: 5px 100px; 
	display: flex; 
	justify-content: center;
	gap: 10px;
	background: #FF9752; 
	color: #fff; 
	font-weight: 500; 
	text-align: center;
}
.modal .img {display: block; position: absolute; right: 0; top: 0; padding: 5px; }


.pop {
	z-index: 5;
	position: absolute; 
	left: 50%; top: 50%; 
	transform: translate(-50%,-50%); 
	display: block; 
	
	width: 470px; height: 600px; 
	background: #fff; 
	border: 2px solid #FF9752;
	border-radius: 20px;

	text-align: center;
	padding: 30px;
	box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}
.pop h2 { padding-bottom: 30px;}
.pop h3 { padding-bottom: 30px; font-weight: 700;}
.pop p {padding: 10px 0 50px; font-weight: 500;}
.pop .btn { cursor: pointer; display: block; width: 250px; padding: 10px 30px; margin: 0 auto; background: #FF9752; color: #fff; border-radius: 10px;}
.pop .close {cursor: pointer; position: absolute; right: 30px ;top: 30px; align-items: center;}


.ham {
	cursor: pointer;
	position: absolute;
	right: 50px;
	top: 50px;
}

#header {
	z-index: 9; 
	position: absolute; 
	right: 0; 
	top: 0; 
	
	display: block; 
	width: 410px; height: 500px; 
	border: 2px solid #FFBA53; 
	border-radius: 20px;

	background: #fff; 
}


#header input {font-size: 2rem; background: #FFDE88; border-radius: 14px; margin: 30px; width: 250px; padding: 5px;}
#header .gnb { padding: 30px;}
#header .gnb li a {display: block; padding: 10px 0; color: #FF9752;  font-weight: 600;}

#header .close {cursor: pointer; position: absolute; right: 30px; top: 30px; display: block;}



#footer {width: 100%; height:440px; background: #414141; color: #fff; text-align: center; padding-top: 100px;}
#footer .logo_w {padding-bottom: 30px;}
#footer .sns {padding-bottom: 30px;}