@charset "utf-8";



#main_banner {margin: 0 !important;}
#main_banner .swiper {height: 650px; text-align: center;}
#main_banner .swiper .swiper-slide {display: flex; align-items: center;}

#main_banner .swiper .mb1 {
	background: url('../img/slide/slide_01.png') no-repeat center; background-size: cover;
}
#main_banner .swiper .mb2 {
	background: url('../img/slide/slide_02.png') no-repeat center; background-size: cover;
}

#main_banner .swiper-button-prev,#main_banner .swiper-button-next{
	color:#414141;
}

/* 스와이퍼 슬라이드 버튼 색상 변경 */
:root {
    --swiper-theme-color: #414141 !important;
}

#main h1 {text-align: center; padding: 140px 0 80px; }



/* ----------------slide END----------------------- */


/* ----------------Menu tab----------------------- */

#menu {text-align: center; margin: 320px 0 200px;}
#menu h2 {
	position: relative;

	color: #FF5C00;
	font-weight: 700; 
	font-size: 5rem; 

	padding-bottom: 100px;
}
#menu h2:before {
	position: absolute;
	left: 50%;
	bottom: 50%;
	transform: translate(-50%,-150%);

	display: block;
	content: url('../img/before.svg');
	width: 200px ; height: 60px;
}
#menu .menu_tab {
	display: flex; 
	justify-content: center; 
	gap: 60px;

	margin: 0 auto 30px;
	width:100%;
	border-bottom: 2px solid #FFC700;
}

#menu .menu_tab .btn {
	display: block;
	padding: 15px 45px;
	font-weight: 500;
	font-size: 2.5rem;
}

#menu .menu_img {margin-top: 50px;}
#menu .menu_img .coffee div {
	display: flex; 
	gap: 30px; 
	justify-content: center;
	margin-bottom: 20px;
}
#menu .menu_img .coffee div>img{
	width: 275px; height: 275px; 
	border-radius: 85px;
	border: 2px solid #FFC700;
	box-shadow: 5px 5px 0px #FF5C00;
}
#menu .menu_img .coffee div .color {
	display: block; 
	width: 275px; height: 275px; 
	border-radius: 85px; 
	background-color: #FFC700;
	border: 2px solid #FFC700;
	box-shadow: 5px 5px 0px #FF5C00;
}



/* ----------------Menu tab END----------------------- */


/* ----------------brand----------------------- */


#brand {padding-top: 200px; margin-bottom: 400px;}
#brand> h2 {
	text-align: center;
	position: relative;

	color: #FF5C00;
	font-weight: 700; 
	font-size: 5rem; 

	padding-bottom: 100px;
}

#brand > h2:before {
	position: absolute;
	left: 50%;
	bottom: 50%;
	transform: translate(-50%,-150%);

	display: block;
	content: url('../img/before.svg');
	width: 200px ; height: 60px;
}

#brand .txt {
	display: flex; 
	gap: 50px; 
	justify-content: space-between; 
	margin-top: 100px;
}
#brand .dragon {
	position: relative;
	display: block;

	width: calc(100% - 45vw);
	height: 500px ;
	border-radius: 0 250px 250px 0;
	background:#FFDE88 ;
}

#brand .dragon .img {
	position: absolute;
	left: 10%;
	top: -25%;

	display: block;
	width: 680px;
	height: 790px;

	background-image: url('../img/main/dragon.svg');
	background-repeat: no-repeat;
	background-size: cover;
}

#brand .desc {width: 45vw; margin-top: 50px;}
#brand .desc h2 {color: #FF9752; font-size: 7rem; line-height: 1.2;}
#brand .desc p {margin-top: 30px; font-weight: 500; padding-left: 10px;}
#brand .desc .cafe_btn {
	display: block;
	margin-top: 50px;

	padding: 15px 30px;
	width: 260px;
	border: 3px solid #FF9752;
	border-radius: 35px; 

	font-size: 2.4rem;
	font-weight:600;
	color: #FF9752;

	transition: background 0.3s;

	background-image: url('../img/main/arrow.svg');
	background-repeat: no-repeat;
	background-size: center;
	background-position: 180px 22px; 
}
#brand .desc .cafe_btn:hover {background-color: #FF9752; color: #fff; background-image: url('../img/main/arrow_w.svg');}



/* ----------------brand END----------------------- */


/* ----------------culture----------------------- */

#culture {margin-bottom: 200px;}
#culture .tit {
	width: 100%;
	padding: 150px 0 50px;
	border-bottom: 5px solid #FF5C00;

	text-align: center;
	align-items: center; 
}
#culture>.tit h2 {position: relative; display: block; margin: auto 0; color: #FF5C00;}
#culture>.tit h2:before {
	position: absolute;
	left: 50%;
	bottom: 50%;
	transform: translate(-50%,-50%);

	display: block;
	content: url('../img/before.svg');
	width: 200px ; height: 60px;
}

#culture .list {
	display: flex;
	gap: 80px;
	justify-content: center;
	width: 100%; height: 835px;
	background: #FFDE88;
	align-items: center;
}

#culture .cul_li li {
	display: flex;
	box-shadow: 5px 5px 0px #FF5C00;
	border-radius: 25px;
	margin-bottom: 20px;
}
#culture .cul_li .img {
	display: block; 
	width: 400px; height: 195px; 
	border-radius: 25px 0 0 25px;
}
#culture .cul_li .txt {
	display: block; 
	width: 325px; height: 195px; 
	border-radius: 0 25px 25px 0;

	background: #fff; 
}



#culture .cul_li li:nth-child(1) .img {background: url('../img/culture/cul\ \(1\).png') no-repeat center;}
#culture .cul_li li:nth-child(2) .img {background: url('../img/culture/cul\ \(3\).png') no-repeat center;}
#culture .cul_li li:nth-child(3) .img {background: url('../img/culture/cul\ \(2\).png') no-repeat center;}



#culture .cul_li .txt {position: relative; padding-left: 15px; }
#culture .cul_li .txt .color {position: absolute; right: 18px; top: 12px; display: flex; gap: 5px;}
#culture .cul_li .txt .color div:nth-child(1) {display: block; width: 40px; height: 15px; background: #FF9752; border-radius: 7.5px;}
#culture .cul_li .txt .color div:nth-child(2) {display: block; width: 40px; height: 15px; background: #414141; border-radius: 7.5px;}
#culture .cul_li .txt .color div:nth-child(3) {display: block; width: 40px; height: 15px; background: #FFDE88; border-radius: 7.5px;}

#culture .cul_li .txt .date {font-weight: 500; margin-top: 10px;}
#culture .cul_li .txt .c_tit {font-weight: 700; font-size: 2.4rem;}

#culture .cul_li .txt table {margin-top: 40px;}
#culture .cul_li .txt .time {font-weight: 500; }
#culture .cul_li .txt .at {font-weight: 500;}
#culture .cul_li .txt .pay {font-weight: 500;}
#culture .cul_li .txt .money {font-weight: 500;}
#culture .cul_li .txt .person {font-weight: 500;}
#culture .cul_li .txt .per_num {font-weight: 500;}


#culture .cul_li .txt .plus {
	position: absolute;
	right: 10px;
	bottom: 10px; 

	display: block; 
	width: 31px; height: 31px; 
	background: url('../img/main/plus.svg')no-repeat center;
}



#culture .reser {
	width: 630px; height: 630px; 
	background: #fff; 
	border-radius: 45px; 
	border: 3px solid #FFDE88; 
	box-shadow: 5px 5px 0px #FF5C00;
}

#culture .reser>h2 {padding: 40px 0 0 40px;}
#culture .reser>p {padding-left: 40px;}


#culture .reser form {padding-left: 40px; margin-top: 30px; position: relative; }
#culture .reser form > ul {padding-bottom: 20px;}
#culture .reser form > p {font-weight: 700; padding-bottom: 10px;}
#culture .reser .info {display: flex;}
#culture .reser .info p, #culture .reser .info legend {font-weight: 500; width: 100px;}
#culture .reser .info select, #culture .reser .info input {font-size: 2.0rem; border: 2px solid #FF9752; border-radius: 10px; padding: 10px; width: 390px;}


#culture .reser .chk_btn {display: flex; padding-bottom: 15px;} 

#culture .reser .chk_btn>label {
    position: relative;
    left: 0;
    
    padding-left: 40px;
    font-family: 'noto sans KR'; 
    font-weight: 500; 
    font-size: 1.8rem; 
    letter-spacing: 0px;

    color:#FF9752;
    transition: color 0.5s;
}




/* 체크박스 모양 재설정 */
#culture .reser .chk_btn label > .box {
    display: inline-block;

    position: absolute;
    left: 0px;
    top: 2px;
    
    width: 28px;
    height: 28px;
    border: 2px solid#FF9752;
}
#culture .reser .chk_btn label > .box2 {
    display: inline-block;

    position: absolute;
    left: 0px;
    top: 2px;
    
    width: 28px;
    height: 28px;
    border: 2px solid#FF9752;
}

/* 체크박스 문구 호버 */
#culture .reser .chk_btn label:hover {
	color: #FF5C00;
 }


/* 체크박스 체크표시 설정 */
#chk[type=checkbox]:checked + .box{
    background-image: url('../img/main/check.svg');
    background-repeat: no-repeat;
    background-position: center;
}

#po_chk[type=checkbox]:checked + .box2{
    background-image: url('../img/main/check.svg');
    background-repeat: no-repeat;
    background-position: center;
}


/* 기본체크박스 화면 밖으로 날리기 */
#chk[type=checkbox] {
    position: absolute;
    left: -999em;
}

#po_chk[type=checkbox] {
    position: absolute;
    left: -999em;
}


/* 제출버튼 모양 재설정 */
#contact {display: flex; justify-content: space-between;position: relative; }
#contact .box3 {
	position: absolute;
	right: 30px;
	bottom: -30px;

    cursor: pointer;
    display: inline-block;

    padding: 15px 50px;
    border: 2px solid#FF9752;
    border-radius: 10px;

    text-align: center;
	font-weight: 700;
    color:#FF9752;

    transition: background 0.5s;
}

/* 제출버튼 호버 */
#contact .box3:hover {
    background-color:#FF9752;;
    color:#fff;
}
#reser {position: absolute; left: -999em; }
